# built application files

*.apk

*.ap_

*.apks


# files for the dex VM

*.dex



# Java class files

*.class



# Local configuration file (sdk path, etc)

local.properties



# Windows thumbnail 
db
Thumbs.db




# OSX files

.DS_Store



# Android Studio
gradlew
gradlew.bat
gradle.properties

/.idea

.gradle

/gradle

/build

/captures

*.iml
